
.<%= language %> {
    width: 100%;
}
.<%= language %> table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.<%= language %> table .line_number {
    border-right: 1px solid black;
    border-left:  0px;
    border-top: 0px;
    border-bottom: 0px;
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 2%;
}

.<%= language %> table .odd {
    background-color: #E8C681;
}

.<%= language %> table .even {
    background-color: #E8D2A7;
}

.<%= language %> pre {
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
}

.<%= language %> table .code {
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f0f0f0;
}

.<%= language %> pre {
    margin: 0px;
    padding: 0px;  
}

.<%= language %> .kp { color: #007020 } /* Keyword.Pseudo */
.<%= language %> .mf { color: #40a070 } /* Literal.Number.Float */
.<%= language %> .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.<%= language %> .kt { color: #902000 } /* Keyword.Type */
.<%= language %> .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.<%= language %> .vc { color: #bb60d5 } /* Name.Variable.Class */
.<%= language %> .mo { color: #40a070 } /* Literal.Number.Oct */
.<%= language %> .s2 { color: #4070a0 } /* Literal.String.Double */
.<%= language %> .ow { color: #007020; font-weight: bold } /* Operator.Word */
.<%= language %> .vg { color: #bb60d5 } /* Name.Variable.Global */
.<%= language %> .vi { color: #bb60d5 } /* Name.Variable.Instance */
.<%= language %> .mh { color: #40a070 } /* Literal.Number.Hex */
.<%= language %> .mi { color: #40a070 } /* Literal.Number.Integer */
.<%= language %> .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.<%= language %> .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.<%= language %> .il { color: #40a070 } /* Literal.Number.Integer.Long */
.<%= language %> .cp { color: #007020 } /* Comment.Preproc */
.<%= language %> .o { color: #666666 } /* Operator */
.<%= language %> .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.<%= language %> .gt { color: #0040D0 } /* Generic.Traceback */
.<%= language %> .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.<%= language %> .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.<%= language %> .gr { color: #FF0000 } /* Generic.Error */
.<%= language %> .gs { font-weight: bold } /* Generic.Strong */
.<%= language %> .sx { color: #c65d09 } /* Literal.String.Other */
.<%= language %> .s { color: #4070a0 } /* Literal.String */
.<%= language %> .w { color: #bbbbbb } /* Text.Whitespace */
.<%= language %> .gd { color: #A00000 } /* Generic.Deleted */
.<%= language %> .ge { font-style: italic } /* Generic.Emph */
.<%= language %> .k { color: #007020; font-weight: bold } /* Keyword */
.<%= language %> .m { color: #40a070 } /* Literal.Number */
.<%= language %> .s1 { color: #4070a0 } /* Literal.String.Single */
.<%= language %> .go { color: #808080 } /* Generic.Output */
.<%= language %> .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.<%= language %> .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.<%= language %> .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.<%= language %> .nb { color: #007020 } /* Name.Builtin */
.<%= language %> .na { color: #4070a0 } /* Name.Attribute */
.<%= language %> .nf { color: #06287e } /* Name.Function */
.<%= language %> .ne { color: #007020 } /* Name.Exception */
.<%= language %> .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.<%= language %> .sr { color: #235388 } /* Literal.String.Regex */
.<%= language %> .ss { color: #517918 } /* Literal.String.Symbol */
.<%= language %> .no { color: #60add5 } /* Name.Constant */
.<%= language %> .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.<%= language %> .nl { color: #002070; font-weight: bold } /* Name.Label */
.<%= language %> .sh { color: #4070a0 } /* Literal.String.Heredoc */
.<%= language %> .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.<%= language %> .nv { color: #bb60d5 } /* Name.Variable */
.<%= language %> .nt { color: #062873; font-weight: bold } /* Name.Tag */
.<%= language %> .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.<%= language %> .sb { color: #4070a0 } /* Literal.String.Backtick */
.<%= language %> .sc { color: #4070a0 } /* Literal.String.Char */
.<%= language %> .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.<%= language %> .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.<%= language %> .bp { color: #007020 } /* Name.Builtin.Pseudo */
.<%= language %> .c { color: #60a0b0; font-style: italic } /* Comment */
.<%= language %> .gi { color: #00A000 } /* Generic.Inserted */
.<%= language %> .err { border: 1px solid #FF0000 } /* Error */
