
.<%= language %> {
    width: 100%;
}
.<%= language %> table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.<%= language %> table .line_number {
    border-right: 1px solid black;
    border-left:  0px;
    border-top: 0px;
    border-bottom: 0px;
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 2%;
}

.<%= language %> table .odd {
    background-color: #E8C681;
}

.<%= language %> table .even {
    background-color: #E8D2A7;
}

.<%= language %> pre {
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
}

.<%= language %> table .code {
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #202020;
}

.<%= language %> pre {
    margin: 0px;
    padding: 0px;  
}

.<%= language %> .kp { color: #6ab825 } /* Keyword.Pseudo */
.<%= language %> .mf { color: #3677a9 } /* Literal.Number.Float */
.<%= language %> .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.<%= language %> .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.<%= language %> .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.<%= language %> .nb { color: #24909d } /* Name.Builtin */
.<%= language %> .vc { color: #40ffff } /* Name.Variable.Class */
.<%= language %> .mo { color: #3677a9 } /* Literal.Number.Oct */
.<%= language %> .s2 { color: #ed9d13 } /* Literal.String.Double */
.<%= language %> .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.<%= language %> .vg { color: #40ffff } /* Name.Variable.Global */
.<%= language %> .vi { color: #40ffff } /* Name.Variable.Instance */
.<%= language %> .mh { color: #3677a9 } /* Literal.Number.Hex */
.<%= language %> .mi { color: #3677a9 } /* Literal.Number.Integer */
.<%= language %> .py { color: #d0d0d0 } /* Name.Property */
.<%= language %> .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.<%= language %> .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.<%= language %> .il { color: #3677a9 } /* Literal.Number.Integer.Long */
.<%= language %> . { color: #d0d0d0 } /*  */
.<%= language %> .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.<%= language %> .o { color: #d0d0d0 } /* Operator */
.<%= language %> .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.<%= language %> .gt { color: #d22323 } /* Generic.Traceback */
.<%= language %> .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.<%= language %> .nx { color: #d0d0d0 } /* Name.Other */
.<%= language %> .gp { color: #aaaaaa } /* Generic.Prompt */
.<%= language %> .gr { color: #d22323 } /* Generic.Error */
.<%= language %> .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.<%= language %> .p { color: #d0d0d0 } /* Punctuation */
.<%= language %> .s { color: #ed9d13 } /* Literal.String */
.<%= language %> .sx { color: #ffa500 } /* Literal.String.Other */
.<%= language %> .w { color: #666666 } /* Text.Whitespace */
.<%= language %> .gd { color: #d22323 } /* Generic.Deleted */
.<%= language %> .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.<%= language %> .k { color: #6ab825; font-weight: bold } /* Keyword */
.<%= language %> .l { color: #d0d0d0 } /* Literal */
.<%= language %> .m { color: #3677a9 } /* Literal.Number */
.<%= language %> .n { color: #d0d0d0 } /* Name */
.<%= language %> .s1 { color: #ed9d13 } /* Literal.String.Single */
.<%= language %> .go { color: #cccccc } /* Generic.Output */
.<%= language %> .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.<%= language %> .ni { color: #d0d0d0 } /* Name.Entity */
.<%= language %> .g { color: #d0d0d0 } /* Generic */
.<%= language %> .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.<%= language %> .ld { color: #d0d0d0 } /* Literal.Date */
.<%= language %> .na { color: #bbbbbb } /* Name.Attribute */
.<%= language %> .nf { color: #447fcf } /* Name.Function */
.<%= language %> .ne { color: #bbbbbb } /* Name.Exception */
.<%= language %> .nd { color: #ffa500 } /* Name.Decorator */
.<%= language %> .sr { color: #ed9d13 } /* Literal.String.Regex */
.<%= language %> .ss { color: #ed9d13 } /* Literal.String.Symbol */
.<%= language %> .no { color: #40ffff } /* Name.Constant */
.<%= language %> .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.<%= language %> .nl { color: #d0d0d0 } /* Name.Label */
.<%= language %> .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.<%= language %> .si { color: #ed9d13 } /* Literal.String.Interpol */
.<%= language %> .nv { color: #40ffff } /* Name.Variable */
.<%= language %> .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.<%= language %> .c1 { color: #999999; font-style: italic } /* Comment.Single */
.<%= language %> .sb { color: #ed9d13 } /* Literal.String.Backtick */
.<%= language %> .sc { color: #ed9d13 } /* Literal.String.Char */
.<%= language %> .sd { color: #ed9d13 } /* Literal.String.Doc */
.<%= language %> .se { color: #ed9d13 } /* Literal.String.Escape */
.<%= language %> .bp { color: #24909d } /* Name.Builtin.Pseudo */
.<%= language %> .c { color: #999999; font-style: italic } /* Comment */
.<%= language %> .x { color: #d0d0d0 } /* Other */
.<%= language %> .gi { color: #589819 } /* Generic.Inserted */
.<%= language %> .err { color: #a61717; background-color: #e3d2d2 } /* Error */
