
.<%= language %> {
    width: 100%;
}
.<%= language %> table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.<%= language %> table .line_number {
    border-right: 1px solid black;
    border-left:  0px;
    border-top: 0px;
    border-bottom: 0px;
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 2%;
}

.<%= language %> table .odd {
    background-color: #E8C681;
}

.<%= language %> table .even {
    background-color: #E8D2A7;
}

.<%= language %> pre {
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
}

.<%= language %> table .code {
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ffffff;
}

.<%= language %> pre {
    margin: 0px;
    padding: 0px;  
}

.<%= language %> .kp { color: #008800 } /* Keyword.Pseudo */
.<%= language %> .mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.<%= language %> .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.<%= language %> .kt { color: #888888; font-weight: bold } /* Keyword.Type */
.<%= language %> .cm { color: #888888 } /* Comment.Multiline */
.<%= language %> .vc { color: #336699 } /* Name.Variable.Class */
.<%= language %> .mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.<%= language %> .s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
.<%= language %> .ow { color: #008800 } /* Operator.Word */
.<%= language %> .vg { color: #dd7700 } /* Name.Variable.Global */
.<%= language %> .vi { color: #3333bb } /* Name.Variable.Instance */
.<%= language %> .mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.<%= language %> .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.<%= language %> .py { color: #336699; font-weight: bold } /* Name.Property */
.<%= language %> .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.<%= language %> .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.<%= language %> .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
.<%= language %> .cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.<%= language %> .cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.<%= language %> .gt { color: #aa0000 } /* Generic.Traceback */
.<%= language %> .gu { color: #606060 } /* Generic.Subheading */
.<%= language %> .gp { color: #555555 } /* Generic.Prompt */
.<%= language %> .gr { color: #aa0000 } /* Generic.Error */
.<%= language %> .gs { font-weight: bold } /* Generic.Strong */
.<%= language %> .sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.<%= language %> .s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.<%= language %> .w { color: #bbbbbb } /* Text.Whitespace */
.<%= language %> .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.<%= language %> .ge { font-style: italic } /* Generic.Emph */
.<%= language %> .k { color: #008800; font-weight: bold } /* Keyword */
.<%= language %> .m { color: #0000DD; font-weight: bold } /* Literal.Number */
.<%= language %> .s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
.<%= language %> .go { color: #888888 } /* Generic.Output */
.<%= language %> .gh { color: #303030 } /* Generic.Heading */
.<%= language %> .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.<%= language %> .nc { color: #bb0066; font-weight: bold } /* Name.Class */
.<%= language %> .nb { color: #003388 } /* Name.Builtin */
.<%= language %> .na { color: #336699 } /* Name.Attribute */
.<%= language %> .nf { color: #0066bb; font-weight: bold } /* Name.Function */
.<%= language %> .ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.<%= language %> .nd { color: #555555 } /* Name.Decorator */
.<%= language %> .sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.<%= language %> .ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.<%= language %> .no { color: #003366; font-weight: bold } /* Name.Constant */
.<%= language %> .nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.<%= language %> .nl { color: #336699; font-style: italic } /* Name.Label */
.<%= language %> .sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
.<%= language %> .si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.<%= language %> .nv { color: #336699 } /* Name.Variable */
.<%= language %> .nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.<%= language %> .c1 { color: #888888 } /* Comment.Single */
.<%= language %> .sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.<%= language %> .sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
.<%= language %> .sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.<%= language %> .se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.<%= language %> .bp { color: #003388 } /* Name.Builtin.Pseudo */
.<%= language %> .c { color: #888888 } /* Comment */
.<%= language %> .err { color: #a61717; background-color: #e3d2d2 } /* Error */
