
.<%= language %> {
    width: 100%;
}
.<%= language %> table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.<%= language %> table .line_number {
    border-right: 1px solid black;
    border-left:  0px;
    border-top: 0px;
    border-bottom: 0px;
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 2%;
}

.<%= language %> table .odd {
    background-color: #E8C681;
}

.<%= language %> table .even {
    background-color: #E8D2A7;
}

.<%= language %> pre {
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
}

.<%= language %> table .code {
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #eeeedd;
}

.<%= language %> pre {
    margin: 0px;
    padding: 0px;  
}

.<%= language %> .kp { color: #8B008B; font-weight: bold } /* Keyword.Pseudo */
.<%= language %> .mf { color: #B452CD } /* Literal.Number.Float */
.<%= language %> .kr { color: #8B008B; font-weight: bold } /* Keyword.Reserved */
.<%= language %> .kt { color: #a7a7a7; font-weight: bold } /* Keyword.Type */
.<%= language %> .cm { color: #228B22 } /* Comment.Multiline */
.<%= language %> .vc { color: #00688B } /* Name.Variable.Class */
.<%= language %> .mo { color: #B452CD } /* Literal.Number.Oct */
.<%= language %> .s2 { color: #CD5555 } /* Literal.String.Double */
.<%= language %> .ow { color: #8B008B } /* Operator.Word */
.<%= language %> .vg { color: #00688B } /* Name.Variable.Global */
.<%= language %> .vi { color: #00688B } /* Name.Variable.Instance */
.<%= language %> .mh { color: #B452CD } /* Literal.Number.Hex */
.<%= language %> .mi { color: #B452CD } /* Literal.Number.Integer */
.<%= language %> .kc { color: #8B008B; font-weight: bold } /* Keyword.Constant */
.<%= language %> .kd { color: #8B008B; font-weight: bold } /* Keyword.Declaration */
.<%= language %> .il { color: #B452CD } /* Literal.Number.Integer.Long */
.<%= language %> .cp { color: #1e889b } /* Comment.Preproc */
.<%= language %> .cs { color: #8B008B; font-weight: bold } /* Comment.Special */
.<%= language %> .gt { color: #aa0000 } /* Generic.Traceback */
.<%= language %> .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.<%= language %> .gp { color: #555555 } /* Generic.Prompt */
.<%= language %> .gr { color: #aa0000 } /* Generic.Error */
.<%= language %> .gs { font-weight: bold } /* Generic.Strong */
.<%= language %> .sx { color: #cb6c20 } /* Literal.String.Other */
.<%= language %> .s { color: #CD5555 } /* Literal.String */
.<%= language %> .w { color: #bbbbbb } /* Text.Whitespace */
.<%= language %> .gd { color: #aa0000 } /* Generic.Deleted */
.<%= language %> .ge { font-style: italic } /* Generic.Emph */
.<%= language %> .k { color: #8B008B; font-weight: bold } /* Keyword */
.<%= language %> .m { color: #B452CD } /* Literal.Number */
.<%= language %> .s1 { color: #CD5555 } /* Literal.String.Single */
.<%= language %> .go { color: #888888 } /* Generic.Output */
.<%= language %> .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.<%= language %> .gi { color: #00aa00 } /* Generic.Inserted */
.<%= language %> .nc { color: #008b45; font-weight: bold } /* Name.Class */
.<%= language %> .nb { color: #658b00 } /* Name.Builtin */
.<%= language %> .na { color: #658b00 } /* Name.Attribute */
.<%= language %> .nf { color: #008b45 } /* Name.Function */
.<%= language %> .ne { color: #008b45; font-weight: bold } /* Name.Exception */
.<%= language %> .nd { color: #707a7c } /* Name.Decorator */
.<%= language %> .sr { color: #1c7e71 } /* Literal.String.Regex */
.<%= language %> .ss { color: #CD5555 } /* Literal.String.Symbol */
.<%= language %> .no { color: #00688B } /* Name.Constant */
.<%= language %> .nn { color: #008b45; text-decoration: underline } /* Name.Namespace */
.<%= language %> .sh { color: #1c7e71; font-style: italic } /* Literal.String.Heredoc */
.<%= language %> .si { color: #CD5555 } /* Literal.String.Interpol */
.<%= language %> .nv { color: #00688B } /* Name.Variable */
.<%= language %> .nt { color: #8B008B; font-weight: bold } /* Name.Tag */
.<%= language %> .c1 { color: #228B22 } /* Comment.Single */
.<%= language %> .sb { color: #CD5555 } /* Literal.String.Backtick */
.<%= language %> .sc { color: #CD5555 } /* Literal.String.Char */
.<%= language %> .sd { color: #CD5555 } /* Literal.String.Doc */
.<%= language %> .se { color: #CD5555 } /* Literal.String.Escape */
.<%= language %> .bp { color: #658b00 } /* Name.Builtin.Pseudo */
.<%= language %> .c { color: #228B22 } /* Comment */
.<%= language %> .err { color: #a61717; background-color: #e3d2d2 } /* Error */
