.«lang» {
    border-collapse: collapse;
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}


.«lang» .line_number {
    border-right: 1px solid black;
    border-left:  0px;
    border-top: 0px;
    border-bottom: 0px;
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 2%;
}

.«lang» .odd { background-color: #E8C681; }

.«lang» .even { background-color: #E8D2A7; }

.«lang» .code {
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #0B0A0A;
    color: white;
}

.«lang» pre {
    margin: 0px;
    padding: 0px;  
}

.«lang» a:link { text-decoration: none; color: #f4ffff; }
.«lang» a:visited { text-decoration: none; color: #f4ffff; }
.«lang» a:hover { outline-style: dotted; outline-color: #f92672; outline-width: thin; color: #f4ffff; }

.«lang» .c, .«lang» .cm, .«lang» .c1 { color: #60606d; } /* comments */

.«lang» .ld { color: #fb9a4b; } /* Literal.Date */
.«lang» .m  { color: #ff3a55; } /* Literal.Number */
.«lang» .mf { color: #ff3a55; } /* Literal.Number.Float */
.«lang» .mh { color: #ff3a55; } /* Literal.Number.Hex */
.«lang» .mi { color: #ff3a55; } /* Literal.Number.Integer */
.«lang» .il { color: #ff3a55; } /* Literal.Number.Integer.Long */
.«lang» .mo { color: #ff3a55; } /* Literal.Number.Oct */

.«lang» .g { } /* Generic */
.«lang» .gd { } /* Generic.Deleted */
.«lang» .ge { } /* Generic.Emph */
.«lang» .gr { } /* Generic.Error */
.«lang» .gh { } /* Generic.Heading */
.«lang» .gi { } /* Generic.Inserted */
.«lang» .go { } /* Generic.Output */
.«lang» .gp { } /* Generic.Prompt */
.«lang» .gs { } /* Generic.Strong */
.«lang» .gu { } /* Generic.Subheading */
.«lang» .gt { } /* Generic.Traceback */

.«lang» .na { color: #78e087; }
.«lang» .nb { font-weight: bold; }
.«lang» .nd { color: #3366ff; }
.«lang» .bp { font-weight: bold; }
.«lang» .nc { color: #ffaa00; font-weight: bold; }
.«lang» .no { color: #f3f3f3; }
.«lang» .nn { color: #f92672; }
.«lang» .nf { color: #f4ffff; }
.«lang» .nl { color: #A2A2B7; }

.«lang» .nv { color: #ffffcc; }
.«lang» .vc { color: #84bee2; }
.«lang» .vg { color: #3366ff; }
.«lang» .vi { color: #78e087; }

.«lang» .k { color: #ffaa00; font-weight: bold; }
.«lang» .kc { color: #84bee2; font-weight: bold; }
.«lang» .kd { font-size: 1.1em; font-weight: bold; color: #0E97FF; }
.«lang» .kp { color: white; font-weight: bold; font-size: 1.1em; }
.«lang» .kt { color: #f92672; font-weight: bold;}

.«lang» .o { color: #E8B4B4; font-size: 1.05em; font-weight: bold; }
.«lang» .p { color: #E8B4B4; font-weight: bold; }

.«lang» .s { color: #a9e448; }
.«lang» .sb { color: #99ffff; }
.«lang» .sc { color: #a9e448; }
.«lang» .sd { color: #71dcdc; }
.«lang» .sh { color: #f92672; }
.«lang» .si { color: #ff7474; font-weight: bold; }
.«lang» .sr { color: #379bff; }
.«lang» .s1 { color: #a9e448; }
.«lang» .s2 { color: #a9e448; }
.«lang» .ss { color: #66ff99; }
