test/functional/*/*/*
pkg/
scratch/
test/performance/*/*
*.class
*~
doc/api
vendor/
coverage/
log/
samples/**/*.rb
samples/tmp
*.tokens
dev-lib/tasks/private/*
private
private/*
.yardoc/
.tdldb
.tdldb.bak
*.rbc
docs/guide/*/*.html
