.ANTLR3 {
    border-collapse: collapse;
    border: 0px;
    margin: 5px 0px;
    padding: 0px;
    width: 100%;
    font-size: 1.2em;
}

.ANTLR3 .line_number {
    border-right: 1px solid black;
    border-left:  0px;
    border-top: 0px;
    border-bottom: 0px;
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 2%;
}

.ANTLR3 .odd { background-color: #E8C681; }

.ANTLR3 .even { background-color: #E8D2A7; }

.ANTLR3 .code {
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #0B0A0A;
    color: white;
}

.ANTLR3 pre {
    margin: 0px;
    padding: 0px;  
}

.ANTLR3 .k { color: #ffaa00; font-weight: bold; }
.ANTLR3 .c { color: #60606d; }   /* c */
.ANTLR3 .sh { color: #f92672; }
.ANTLR3 .kt { color: #f92672; font-weight: bold;}
.ANTLR3 .sc { color: #a9e448; }
.ANTLR3 .o { color: #E8B4B4; font-size: 1.05em; font-weight: bold; }
.ANTLR3 .p { color: #E8B4B4; font-weight: bold; }
.ANTLR3 .kp { color: white; font-weight: bold; font-size: 1.1em; }
.ANTLR3 a:link { text-decoration: none; }
.ANTLR3 a:visited { text-decoration: none; }
.ANTLR3 a:hover { outline-style: dotted; outline-color: #f92672; outline-width: thin; }
.ANTLR3 .kd { font-size: 1.1em; font-weight: bold; color: #0E97FF; }
.ANTLR3 .nl { color: #A2A2B7; }
.ANTLR3 .s2 { color: #a9e448; }
.ANTLR3 .nf { color: #f4ffff; }
.ANTLR3 .sc { border-bottom: dotted 1px red; }
.ANTLR3 .si { color: #ff7474; font-weight: bold; }
.ANTLR3 .nc { color: #ffaa00; font-weight: bold; }
