
.shell {
    width: 100%;
}
.shell table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.shell table .line_number {
    border-right: 1px solid black;
    border-left:  0px;
    border-top: 0px;
    border-bottom: 0px;
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 2%;
}

.shell table .odd {
    background-color: #E8C681;
}

.shell table .even {
    background-color: #E8D2A7;
}

.shell pre {
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
}

.shell table .code {
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ffffff;
}

.shell pre {
    margin: 0px;
    padding: 0px;  
}

.shell .kp { color: #008800 } /* Keyword.Pseudo */
.shell .mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.shell .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.shell .kt { color: #888888; font-weight: bold } /* Keyword.Type */
.shell .cm { color: #888888 } /* Comment.Multiline */
.shell .vc { color: #336699 } /* Name.Variable.Class */
.shell .mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.shell .s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
.shell .ow { color: #008800 } /* Operator.Word */
.shell .vg { color: #dd7700 } /* Name.Variable.Global */
.shell .vi { color: #3333bb } /* Name.Variable.Instance */
.shell .mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.shell .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.shell .py { color: #336699; font-weight: bold } /* Name.Property */
.shell .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.shell .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.shell .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
.shell .cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.shell .cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.shell .gt { color: #aa0000 } /* Generic.Traceback */
.shell .gu { color: #606060 } /* Generic.Subheading */
.shell .gp { color: #555555 } /* Generic.Prompt */
.shell .gr { color: #aa0000 } /* Generic.Error */
.shell .gs { font-weight: bold } /* Generic.Strong */
.shell .sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.shell .s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.shell .w { color: #bbbbbb } /* Text.Whitespace */
.shell .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.shell .ge { font-style: italic } /* Generic.Emph */
.shell .k { color: #008800; font-weight: bold } /* Keyword */
.shell .m { color: #0000DD; font-weight: bold } /* Literal.Number */
.shell .s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
.shell .go { color: #888888 } /* Generic.Output */
.shell .gh { color: #303030 } /* Generic.Heading */
.shell .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.shell .nc { color: #bb0066; font-weight: bold } /* Name.Class */
.shell .nb { color: #003388 } /* Name.Builtin */
.shell .na { color: #336699 } /* Name.Attribute */
.shell .nf { color: #0066bb; font-weight: bold } /* Name.Function */
.shell .ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.shell .nd { color: #555555 } /* Name.Decorator */
.shell .sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.shell .ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.shell .no { color: #003366; font-weight: bold } /* Name.Constant */
.shell .nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.shell .nl { color: #336699; font-style: italic } /* Name.Label */
.shell .sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
.shell .si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.shell .nv { color: #336699 } /* Name.Variable */
.shell .nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.shell .c1 { color: #888888 } /* Comment.Single */
.shell .sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.shell .sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
.shell .sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.shell .se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.shell .bp { color: #003388 } /* Name.Builtin.Pseudo */
.shell .c { color: #888888 } /* Comment */
.shell .err { color: #a61717; background-color: #e3d2d2 } /* Error */
