
.shell {
    width: 100%;
}
.shell table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.shell table .line_number {
    border-right: 1px solid black;
    border-left:  0px;
    border-top: 0px;
    border-bottom: 0px;
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 2%;
}

.shell table .odd {
    background-color: #E8C681;
}

.shell table .even {
    background-color: #E8D2A7;
}

.shell pre {
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
}

.shell table .code {
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ffffff;
}

.shell pre {
    margin: 0px;
    padding: 0px;  
}

.shell .nc { font-weight: bold } /* Name.Class */
.shell .kr { font-weight: bold } /* Keyword.Reserved */
.shell .cm { font-style: italic } /* Comment.Multiline */
.shell .s1 { font-style: italic } /* Literal.String.Single */
.shell .s2 { font-style: italic } /* Literal.String.Double */
.shell .ow { font-weight: bold } /* Operator.Word */
.shell .kc { font-weight: bold } /* Keyword.Constant */
.shell .kd { font-weight: bold } /* Keyword.Declaration */
.shell .cs { font-style: italic } /* Comment.Special */
.shell .gu { font-weight: bold } /* Generic.Subheading */
.shell .gp { font-weight: bold } /* Generic.Prompt */
.shell .gs { font-weight: bold } /* Generic.Strong */
.shell .s { font-style: italic } /* Literal.String */
.shell .ge { font-style: italic } /* Generic.Emph */
.shell .k { font-weight: bold } /* Keyword */
.shell .c { font-style: italic } /* Comment */
.shell .gh { font-weight: bold } /* Generic.Heading */
.shell .ni { font-weight: bold } /* Name.Entity */
.shell .sx { font-style: italic } /* Literal.String.Other */
.shell .ne { font-weight: bold } /* Name.Exception */
.shell .sr { font-style: italic } /* Literal.String.Regex */
.shell .ss { font-style: italic } /* Literal.String.Symbol */
.shell .nn { font-weight: bold } /* Name.Namespace */
.shell .sh { font-style: italic } /* Literal.String.Heredoc */
.shell .si { font-weight: bold; font-style: italic } /* Literal.String.Interpol */
.shell .nt { font-weight: bold } /* Name.Tag */
.shell .c1 { font-style: italic } /* Comment.Single */
.shell .sb { font-style: italic } /* Literal.String.Backtick */
.shell .sc { font-style: italic } /* Literal.String.Char */
.shell .sd { font-style: italic } /* Literal.String.Doc */
.shell .se { font-weight: bold; font-style: italic } /* Literal.String.Escape */
.shell .err { border: 1px solid #FF0000 } /* Error */
